.section {
  padding: 6vh 10%;
  margin: auto;
}

.section-text {
  text-align: center;
  margin: auto;
}

.section-text h1.heading-text {
  font-weight: 600;
}

.section-button {
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #29bb89;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.uk-position-small {
  cursor: pointer;
}

.heading-text.about {
  text-align: center;
  font-weight: 600;
}
